<table>
  <tr>
    <th>User</th>
    <th>Email</th>
    <th>Profile</th>

  </tr>
 
  <%  @users.each do |user| %>
    <tr>
      <td><%= user.login %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Profile', user_path(user.login) %></td>
    </tr>
  <% end %>
</table>