<script>
$(function() {
  $("#twitch-tab").click(function(){
    $("#video-player").html("<div class='video-player'><iframe  src='http://twitch.tv/schamtoo/embed' frameborder='0' allowfullscreen></iframe></div>")
    $document.getElementById(/([A-z])\w+-/+"tab").className="";
    $document.getElementById("twitch-tab").className="Active";
    return false;
  });
  $("#mlg-tab").click(function(){
    $("#video-player").html("<div class='video-player'><iframe src='http://tv.majorleaguegaming.com/player/embed/schamtoo' frameborder='0' allowfullscreen></iframe></div>")
    $document.getElementById(/([A-z])\w+-/+"tab").className="";
    $document.getElementById("mlg-tab").className="Active";
    return false;
  });
  $("#youtube-tab").click(function(){
    $("#video-player").html("<div class='video-player'><iframe src='https://www.youtube.com/embed/iuQY9HHZQpA?list=PLYWkkXRQ3uYUsKKFfY37lEbwoY8wilSYt' frameborder='0' allowfullscreen></iframe></div>")
    $document.getElementById(/([A-z])\w+-/+"tab").className="";
    $document.getElementById("mlg-tab").className="Active";
    return false;
  });
});
</script>


<div id="tabs" class="video-tabs">
  <ul id ="video-choices" class="nav nav-tabs" >
    <li id="mlg-tab" class="active"><a data-toggle="tab" href="#MLGtv">MLGtv <%= checkOnline("mlg.tv") %> </a></li>
    <li id="twitch-tab"><a data-toggle="tab" href="#Twitch">Twitch <%= checkOnline("twitch.tv") %> </a></li>
    <li id="youtube-tab"><a data-toggle="tab" href="#Youtube">YouTube <%= checkOnline("youtube.com") %> </a></li>
  </ul> 
</div>
<div class="video-player-container">
  <div id="video-player" class="tab-pane fade in">
    <div class="video-player"><iframe width="560" height="315" src="http://tv.majorleaguegaming.com/player/embed/schamtoo" frameborder="0" allowfullscreen></iframe></div>
  </div>
</div>
<!--  -->