<div class="contactme_block">
	<%= link_to("/resume")  do %>
		<h3 class= "contactme_column_left"> Contact Me</h3>
	<% end %>
	<div class="contactme_column_right">
		<%= link_to image_tag( "twitter-64.ico", :size => "20x20" ), "http://twitter.com/schamtoo", :target => "_blank" %>
		<%= link_to image_tag( "youtube-64.ico", :size => "20x20"), "http://youtube.com/schamtoo", :target => "_blank" %>
		<%= link_to image_tag( "facebook-64.ico", :size => "20x20"), "http://www.facebook.com/Kevin-SchAmToo-Pearson-225935654204092/", :target => "_blank" %>
		<%= link_to image_tag( "github-6-64.ico",:size => "20x20" ), "http://github.com/schamtoo", :target => "_blank" %>
	</div>
</div>