<%= render "sessions/session" %>
<% if current_user?(User.find_by_login("Schamtoo")) %>

	<h1>Editing post</h1>
	 
	<%= render 'form' %>
	 
	<%= link_to 'Back', posts_path %>
<% else %> 
	<h1> 403 Forbidden </h1>
<% end %>