<%= render 'sessions/session' %>

<p>
	<strong>Poster:</strong>
	<%= User.find_by_id(@post.user_id).login %>
</p>
<p>
  <h1>Title:</h1>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
</p>
<p>
  <%= @post.text %>
</p>
