<div class="post_background">
<div class="post_page_block">
<%= render 'sessions/session' %>

<p>

  <h1 class="post_title"><%= @post.title %></h1>
</p>
 <p>
  <div class"post_body"><%= @post.text %></div>
</p>
<%= render 'welcome/contactme_footer' %>
</div>
</div>