
@media screen and (max-width: 600px) {
	.contactme_column_left{
		left:0%;
	}
	.contactme_column_right{
		right:0%;
	}
	.contactme_block{
		padding-left: 0%;
    	padding-right: 0%;
	}
	.blog_block{
		width:100%;
	}

}
@media (min-width: 600px) {
	.contactme_column_left{
		left:10%;
	}
	.contactme_column_right{
		right:10%;
	}
	.contactme_block{
		padding-left: 10%;
    	padding-right: 10%;
	}
	.blog_block{
		width:80%;
	}
}
.header-container{
	margin: 0px auto;
	width: 100%;
	position: relative;
	background: #FFFFFF;
	font-weight: bold;
	height: 100px;
	float: left;
	border-bottom:  solid #00294d;
}
.header-title{
	color: #003664;
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
	float: left;
	bottom: 0;
	left: 0;
	position: absolute;
	font-weight: bold;
	font-size: 50px;
}

.header-subtitle{
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	padding-bottom: 30px;
	font-weight: bold;
	font-size: 30px;
}

.contactme_block{
	display:block;
	z-index: 1;
	margin: 0px auto;
	width: 100%;
	height: 50px;
	border-top: thin white;
	position: relative;
	bottom:0px;
	margin-top:5%;
	border-top: thin solid white;
	/*bottom: 0px;*/


}

.contactme_column_left{
	padding: 0px;
	margin: 0px auto;
	position:absolute;
    width: 50%;
    height: 100%;
    float:left;
    text-align:center;
    font-size: 20px;
    padding-top:15px;

}


.contactme_column_right{
	padding: 0px;
	margin: 0px auto;
	position:absolute;
    width: 50%;
    height: 100%;
    float:right;
    text-align:center;
    font-size: 30px;
    padding-top:5px;
}

.to_be_declared{
	height:1000px;
	position:relative;
}


a:link, a:visited, a:hover, a:active { 
	color: white 
}

a:hover, a:focus {
    text-decoration:underline;
}
.class_name span {
	width:100%;
	height:100%;
	position:absolute;
	z-index:2;
	top:0px;
	left:0px;
}

.blog_header{
	margin: 0px auto;
	position:relative;
	border-bottom: thin solid white;

}

.blog_block{
	overflow: auto;
	display: table;
	margin: auto;
	position:relative;
	width:80%;
	height:100%;
}
.blog_post_block{
	position:relative;
	display: table-row;
	background: #00294d;
	position: relative;
	height:100%;
	width:100%;
	padding:5px;
}

.blog_post_title{
	float:left;
	width:40%;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-weight:100;
	height:100%;
}

.blog_post_blurb{
	float:right;
	right: 0px;
	width:60%;
	height:100%;
	padding-top:2%;
	padding-bottom:2%;

}
