

$font-stack:    Helvetica, sans-serif;
$primary-color: #ffffff;
.header-container{
	font-size: 100%;
	font-style: bold;
	font-family: $font-stack;
	width: 100%;
	position: relative;
	bottom: 0px;
	color: #003664;
	font-size: 50px;
	font-weight: bold;
	position: relative;
}
.header{
	top: 0px;
	height: 50px;
	color: #003664;
	background: #FFFFFF;
	width: 100%;
	margin: 0px auto;
	position: absolute;
}
body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #003664;
}


