

$font-stack:    Helvetica, sans-serif;
$primary-color: #ffffff;
.header-container{
	margin: 0px auto;
	width: 100%;
	position: relative;
	background: #FFFFFF;
	font-weight: bold;
	height: 100px;
	float: left;
}
.header-title{
	color: #003664;
	background: #FFFFFF;
	margin: 0px;
	padding: 0px;
	float: left;
	bottom: 0;
	left: 0;
	position: absolute;
	font-weight: bold;
	font-size: 50px;
}
body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #003664;
  position: relative;
  margin: 0px;
}


